[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pystan = "*"
ephem = "*"
pandas = "*"
numpy = "*"
streamlit = "*"
plotly = "*"
fbprophet = "==0.6"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.7"
