[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = 'https://repo.anaconda.com/'
verify_ssl = true
name = "conda"

[packages]
numpy = "*"
pandas = "*"
streamlit = "*"
matplotlib = "*"
plotly = "*"

pystan = "*"
fbprophet = "*"
pybase64 = "*"

[dev-packages]

[requires]
python_version = "3.9"
