[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ephem = "*"
pandas = "*"
numpy = "*"
python-dateutil = "*"
streamlit = "==0.62.1"
pandas = "==1.0.5"
matplotlib = "==3.2.2"
pystan = "==2.19.1.1"
fbprophet = "==0.6"
plotly = "==4.8.2"

[dev-packages]

[requires]
python_version = "3.7"
